<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shop Fashion</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <!-- Header -->
    <div class="container-fluild">
      <!-- ROW1 -->
      <div class="row justify-content-between border">
        <div class="col-4 d-flex justify-content-around align-items-center">
          <div
            class="border-right h-100 w-50 d-flex justify-content-center align-items-center"
          >
            <i class="fa fa-envelope-o mx-2" aria-hidden="true"></i>
            <div>phunghoangphuloc@gmail.com</div>
          </div>
          <div
            class="h-100 w-50 d-flex justify-content-center align-items-center"
          >
            <i class="fa fa-phone-square m-2" aria-hidden="true"></i>
            <div>+84.912.698.173</div>
          </div>
        </div>
        <div class="col-4 d-flex justify-content-around align-items-center">
          <!-- Icon fb- ins- tw -->
          <div
            class="border-right h-100 w-25 d-flex justify-content-center align-items-center"
          >
            <i class="fa fa-lg fa-facebook mx-3" aria-hidden="true"></i>
            <i class="fa fa-lg fa-twitter mx-3" aria-hidden="true"></i>
            <i class="fa fa-lg fa-instagram mx-3" aria-hidden="true"></i>
          </div>
          <!-- Language -->
          <div
            class="border-right h-100 w-50 btn-group p-2 d-flex justify-content-center align-items-center"
          >
            <button
              type="button"
              class="btn dropdown-toggle d-flex justify-content-around align-items-center"
              data-toggle="dropdown"
            >
              <h3>🇻🇳</h3>
              <h6>Vietnamese</h6>
            </button>
            <div class="dropdown-menu w-auto">
              <a
                class="dropdown-item d-flex justify-content-start align-items-center w-100"
                href="#"
              >
                <h3 class="mx-3">🇺🇸</h3>
                <h6>English</h6>
              </a>
              <a
                class="dropdown-item d-flex justify-content-start align-items-center"
                href="#"
              >
                <h3 class="mx-3">🇻🇳</h3>
                <h6>Vietnamese</h6>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Another ...</a>
            </div>
          </div>
          <!-- Button Login - Logout  -->
          <button type="button" class="btn btn-light h-100 w-25">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
            <h6>Log out</h6>
          </button>
        </div>
      </div>
      <!-- ROW2 -->
      <div class="row">
        <div class="col-3">
          <div>awd</div>
          <div>awd</div>
        </div>
        <div class="col-6">asd</div>
        <div class="col-3">asd</div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
